{
  "serviceName":"mgateway",
  "tags" : [ "gateway.js","node", "muon-gateway"],
  "discovery": {
    "type":"amqp",
    "url":"amqp://muon:microservices@localhost"
  },
  "transports": [
    { "type":"amqp", "url":"amqp://muon:microservices@localhost" }
  ],
 "eventLogger": {
   "target":"muon://photon/events"
 }
}